/* 작성자 : 이수화 */

.detailTop {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 15px 0px;  
}

.detailCategory span:nth-child(1) {
    margin-right: 5px;
}

.detailCategory span:nth-child(2) {
    padding: 3px 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.1);
    font-weight: 600;
}

.detailBtns {
    display: flex;
    justify-content: flex-end;
}

.detailBtns span:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.detailWriting {
    min-height: 40vh;
}

.checked {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: flex-end;
}

.checked div {
    width: 50px;
    height: 32px;
    margin: 5px 10px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1.5px solid rgb(204, 204, 204);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.178);
}

.checked div:hover {
    background-color: #d8d8d865;
    border: 1.5px solid #a0a0a08c;
    cursor: pointer;
}


.checkedBox {
    padding: 0px 20px;
}

.checkedBox img, .checkedMoreBox img {
    width: 40%;
}
