/* 작성자: 구현우 */

#LoginPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login_header {
    position: absolute;
    top: 0;
    width: 100%;
    color: rgb(212, 212, 212);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: all 0.5s linear;
}

.main_header {
    background-color: transparent;
    color: black;
}