/* 작성자 : 이수화 */

.ContentsFrame {
    width: calc(100% - 100px);
    height: auto;
    min-height: 300px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    opacity: 0;
    transform: translateY(10px);
    transition: all 1s linear;
}

.showContents {
    opacity: 1;
    transform: translateY(0px);
}