/* 작성자 : 이수화 */

.Layout {
    width: 100%;
    height: 100vh;
}

#wrapper {
    height: auto;
    min-height: calc(100% - 100px);
    position: relative;
}

#page {
    padding: 20px 50px;
    margin: 0 auto;
    max-width: 1440px;
}

@media (max-width: 850px) {
    #page {
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #page::-webkit-scrollbar {
        display: none;
    }
}