/* 작성자 : 이수화 */

:root {
    --color-yellow: #FFC736;
    --color-white: #ffffff;
    --position-nav-top: 110px;
    --width-nav: 180px;
}

.Navbar {
    height: auto;
}

.navBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: var(--position-nav-top);
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
}

.navBtn img {
    width: 30px;
}

.navMenuBar {
    width: var(--width-nav);
    height: auto;
    overflow: hidden;
    transition: all 0.3s linear;
    position: absolute;
    top: var(--position-nav-top);
    left: calc(-1*var(--width-nav));
    background-color: var(--color-white);
}

.showNav {
    width: var(--width-nav);
    left: 0px;
    transition: all 0.3s linear;
}

.navBtn, .navMenuBar {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 0px 20px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
}

.navMenuBar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navTitle {
    padding: 15px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 18px;
}

.navCategory {
    padding-bottom: 10px;
}

.navCategory div{
    margin: 10px;
    border-radius: 3px;
    transition: all 0.2s linear;
    font-weight: 550;
}

.navCategory div:hover {
    color: var(--color-yellow);
}
