/* 작성자: 구현우 */

.none_UpdatePasswordModal {
    opacity: 0;
    transition: all linear 0.2s;
}

.UpdatePasswordModal {
    opacity: 1;
}

.updatepassworldmodal_body {
    margin-top: -50px;
}

.password_phrases {
    width: 260px;
    font-size: 12px;
    margin-top: 3px;
    color: rgb(173, 173, 173);
}