/* 작성자 : 이수화 */

.NoticeUploadPage {
    width: 100%;
    height: 100vh;
    display: flex;
}

.noticeUploadMain, .noticeUploadPreView {
    width: 50%;
    overflow-y: scroll;
}

.noticeUploadMain {
    overflow-x: hidden;
}

@media ( max-width: 900px ) {
    .noticeUploadMain {
        width: 100%;
    }

    .noticeUploadPreView {
        width: 0%;
    }
}