/* 작성자 : 이수화 */

.NoticeFormPage {
    width: 100%;
    height: 100vh;
    display: flex;
}

.noticeFormMain, .noticeFormPreView {
    width: 50%;
    overflow-y: scroll;
}

.noticeFormMain {
    overflow-x: hidden;
}

@media ( max-width: 900px ) {
    .noticeFormMain {
        width: 100%;
    }

    .noticeFormPreView {
        width: 0%;
    }
}