/* 작성자 : 이수화 */

.AssignmentCard {
    width: calc(100% - 80px);
    min-width: 200px;
    height: 15vh;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.AssignmentCard:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.assignmentCardTrack {
    font-weight: bold;
}

.assignmentCardTitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
}

.assignmentCardDate {
    font-size: 14px;
}