/* 작성자 : 이수화 */

.ActivityFrame {
    width: 100%;
    height: auto;
    padding: 60px 10px;
    overflow: hidden;
    position: relative;
}

.activityContainer {
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}

.carouoselLeftBtn, .carouoselRightBtn {
    width: 50px;
    position: absolute;
    top: 50%;
    z-index: 999;
}

.carouoselLeftBtn {
    left: 10px;
}

.carouoselRightBtn {
    right: 10px;
}

.carouoselLeftBtn img, .carouoselRightBtn img {
    width: 100%;
    transition: all 0.2s linear;
}

.carouoselLeftBtn img:hover, .carouoselRightBtn img:hover {
    transform: scale(1.2);
    cursor: pointer;
}